body {
  text-align: center;
 font-size: 15px;
 font-family: 'Monda', sans-serif;

}
main {
  max-width: 975px;
  margin: 0 auto;
  display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
h2 {
  text-align:center;
}
.sec2 {
text-align:center;
}
ul {
  text-align:center;
}
.headFoot {
    max-width: 975px;
    border-radius: 25px;
    background-color: lightblue;
    text-align: center; 
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    line-height: .85em;
}


main section {
  margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
}
picture img {
  height: auto;
 
 
  width: 100%;
}