
@media only screen and (min-width: 32.5em){
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
  
    
    nav ul li a {
        border: none;
        border-right: 1px;
        padding: .8rem 1rem;

    }
    .primNav {
        display: flex;

    }
    .primNav li:first-child {
        display: none;

    }
    .primNav li {
		display: block;
		flex: 1 1 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        
       
    }
    
    main section {
        
        display: flex;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding: 40px 20px;
        
    }
    section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    section div {
        
        margin: auto;
    }
    main img {

    width: 45%;
    }
}