body {
    text-align: center;
    background-color: rgba(197, 145, 13, 0.452);
}

div {
    display: grid;
   grid-template-columns: 100%;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px
}
p {
    font-size: 20px
}


img {
    width: 60%;
    margin: 1em auto;
    display: block;
}

section {
    background-color: rgb(117, 152, 199);
    padding: 25px;
    margin: 10px;
    border: black 1px solid;
}



















/*---------Medium View------------*/
@media only screen and (min-width: 37.5em) {
    .cards {
        grid-template-columns: 50% 50%;
}    
}

/*-----------Large View-----------*/
@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: 25% 25% 25% 25%;
}
}